# BACKEND

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Wiki Caches
.wiki_cache/

# Environment variables
.env
.env.production

# Operating system files
.DS_Store

# Generated Handouts
generated_handouts/

# ----

# FRONTEND

# Node modules
node_modules/

# Build output
dist/

# Logs
logs/

# package-lock.json
package-lock.json